# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*
web/app/updraft/*
!web/app/updraft/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
composer.lock
/vendor

# WP-CLI
wp-cli.local.yml

# Files
*.sql
.DS_Store*
web/app/db.php
